*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

 .rock, .paper, .scissor{
    height: 50px;
    
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;

}

.div2{
     display: flex;
    justify-content: space-around;
    padding: 60px;
    margin: 30px;
    border: 1px solid black;
    background-color: rgb(242, 213, 175);
    border-radius: 10px;
    
}
.div3{
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.btn1{
    margin: 20px;
    border: 3px solid black;
    padding: 10px;
    background-color: rgba(239, 163, 70, 0.619);
    border-radius: 10px;
}
.heading{
    text-align: center;
}
.btn4, .result{
    background-color: rgba(242, 213, 175, 0.848);
    font-size: larger;
    font-weight: bold;
    color: rgba(109, 3, 3, 0.718);
}

.restart{
    background-color: rgba(0, 0, 0, 0.42);
    color: white;
    font-size: larger;
    font-weight: bold;
    width: 100px;
    align-self: center;
    height: 60px;
    border: 2px solid black;
    border-radius: 30px;
}
